<div class="fullpage">
	<div id="word">
		
	</div>
</div>

<div class="fullpage text-center">
	<div class="stat-container">
		<div class="columns large-3">
			<div class="panel radius stat-tab margin-left">
				<h5><%= @rides_count %></h5>
				<span>Rides Posted</span>
			</div>
		</div>
		<div class="columns large-3">
			<div class="panel radius stat-tab margin-left">
				<h5><%= @rides_shared_count %></h5>
				<span>Rides Shared</span>
			</div>
		</div>
		<div class="columns large-3">
			<div class="panel radius stat-tab margin-left">
				<h5>Rs. <%= money_saved %></h5>
				<span>Saved</span>
			</div>
		</div>
		<div class="columns large-3">
			<div class="panel radius stat-tab margin-left">
				<h5><%= fuel_saved %> ltrs</h5>
				<span>of Fuel Saved</span>
			</div>
		</div>
	</div>
</div>

<div class="fullpage">
	<div id="ride-mates">
		
	</div>
</div>

<div class="fullpage">
	<a href="<%= current_user ? new_ride_transaction_path : login_path %>"><div id="rideincarpool">
		
	</div></a>
</div>
