<% content_for :title, @user.name %>
<% content_for :heading, "Profile - " + @user.name %>
<div class="row margin-top">
	<div class="columns large-6">
		<%= gravatar_for @user, 150 %>	
		<span>
			<strong><%= @user.name %></strong>, <%= @user.email %>
		</span>
	</div>
	<div class="columns large-4 large-offset-2">
		<div class="callout panel radius">
			<p class="text-center panel-heading"> RideShare Statistics - User </p>
			<%= render 'rides/stats' %> <hr>
			<%= render 'ride_transactions/stats' %>
		</div>
	</div>
</div>
