<% content_for :title, @user.name %>
<% content_for :heading, "Profile - " + @user.name %>
<div class="row margin-top">
	<div class="columns large-4 panel callout">
	    <div class="row">
	      <div class="columns large-11 large-offset-1">
	        <%= link_to (render 'user', size: 75, user: @user), @user %>
	        <%= render 'follow_form' if current_user %>
	      </div>
	    </div> <hr>
	    <div class="row">
	      <%= render 'users/stats' %>
	    </div>
	</div>

	<div class="columns large-4 large-offset-2">
		<div class="callout panel radius">
			<p class="text-center panel-heading"> RideShare Statistics - User </p>
			<%= render 'rides/stats' %> <hr>
			<%= render 'ride_transactions/stats' %>
		</div>
	</div>
</div>
