<div class="callout panel radius <%= "disabled-ride" unless ride_transaction.isactive %>">
	<% if ride_transaction.isactive %>
		<%# if current_user && ride_transaction.user_id == current_user.id %>
		<% if ride_transaction.timeofride > Time.now %>
			<%= link_to fa_icon("minus-circle"), ride_transaction, class: "ride-delete right margin-right", method: :delete, remote: true %>
		<% else %>
			<%= link_to fa_icon("check"), "#", class: "right margin-right" %>
		<% end %>
		<%# end %>
	<% else %>
		<%= fa_icon("trash", class: "right margin-right") %>
	<% end %>
	<p class="text-center panel-heading">
		<%= fa_icon "clock-o" %>
		<%= ride_transaction.timeofride.to_time.strftime("%A, %d-%m-%Y %H:%M, %Z") %>
	</p>
	<%= render 'layouts/ride_transaction_information', ride_transaction: ride_transaction %>
	<%= render 'layouts/ride_footer', ride: ride_transaction.ride %>
</div>