<div class="callout panel radius">
	<%= link_to fa_icon("check-square"), '#', class: "right margin-right margin-bottom bookRide", data: {rideid: @ride.id} %>
	<p class="text-center panel-heading">
		<%= fa_icon "clock-o" %>
		<%= @ride.timeofride.to_time.strftime("%A, %d-%m-%Y %H:%M, %Z") %>
	</p>
<%= render 'layouts/ride_information', ride: @ride %>
	<%= render 'layouts/ride_footer', ride: @ride %>
</div>