<div class="callout panel radius <%= "disabled-ride" unless ride_transaction.isactive %>">
	<% if ride_transaction.isactive %>
		<%# if current_user && ride_transaction.user_id == current_user.id %>
		<% if ride_transaction.timeofride > Time.now %>
			<%= link_to "<i class='fi-x-circle'></i>".html_safe, ride_transaction, class: "ride-delete right margin-right", method: :delete, remote: true %>
		<% else %>
			<%= link_to "<i class='fi-check'></i>".html_safe, "#", class: "right margin-right" %>
		<% end %>
		<%# end %>
	<% else %>
		<i class='fi-trash right margin-right'></i> 
	<% end %>
	<p class="text-center panel-heading">
		<i class="fi-clock"></i> 
		<%= ride_transaction.timeofride.to_time.strftime("%A, %d-%m-%Y %H:%M, %Z") %>
	</p>
	<%= render 'layouts/ride_transaction_information', ride_transaction: ride_transaction %>
	<%= render 'layouts/ride_footer', ride: ride_transaction.ride %>
</div>