<div class="row">
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Total Rides Booked", ""%></div>
		<div id="totalCount" class="columns large-3"><%= inactive_transaction_count(current_user.id) + completed_transaction_count(current_user.id) + future_transaction_count(current_user.id) %></div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Completed Booked Rides", ""%> </div>
		<div id="completedCount" class="columns large-3"><%= completed_transaction_count(current_user.id) %> </div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Cancelled Booked Rides", ""%> </div>
		<div id="inactiveCount" class="columns large-3"><%= inactive_transaction_count(current_user.id) %> </div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Future Booked Rides", ""%> </div>
		<div id="futureCount" class="columns large-3"><%= future_transaction_count(current_user.id) %></div>
	</div>
</div>