<div class="callout panel radius <%= "disabled-ride" unless ride.isactive %>">
	<% if ride.isactive %>
		<% if current_user && ride.user_id == current_user.id %>
			<% if ride.timeofride > Time.now %>
				<%= link_to fa_icon("minus-circle"), ride, class: "ride-delete right", method: :delete, remote: true %>
				<%= link_to fa_icon("pencil"), edit_ride_path(ride), class: "right edit margin-right" %>
			<% else %>
				<%= link_to fa_icon("check"), "#", class: "right margin-right" %>
			<% end %>
		<% end %>
	<% else %>
		<%= fa_icon("trash", class: "right margin-right") %>
	<% end %>
	<p class="text-center panel-heading">
		<%= fa_icon "clock-o" %>
		<%= ride.timeofride.to_time.strftime("%A, %d-%m-%Y %H:%M, %Z") %>
	</p>
	<%= render 'layouts/ride_information', ride: ride %>
	<%= render 'layouts/ride_footer', ride: ride %>
</div>