<div class="row">
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Total Rides Posted", "#"%></div>
		<div id="totalCount" class="columns large-3"><%= inactive_count(current_user.id) + completed_count(current_user.id) + future_count(current_user.id) %></div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Completed Posted Rides", "#"%> </div>
		<div id="completedCount" class="columns large-3"><%= completed_count(current_user.id) %> </div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Cancelled Posted Rides", "#"%> </div>
		<div id="inactiveCount" class="columns large-3"><%= inactive_count(current_user.id) %> </div>
	</div>
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Future Posted Rides", "#"%> </div>
		<div id="futureCount" class="columns large-3"><%= future_count(current_user.id) %></div>
	</div>
</div>