<footer>
	<hr>
	<p class="text-center">
		&copy;<%= Time.now.year %>, <%= link_to "Ritikesh G", "#" %>
	</p>
	<p class="text-center"> 
		<%= link_to "Contact", contact_path %> | 
		<%= link_to "About", about_path %> | 
		<%= link_to "Help", help_path %>
	</p>
</footer>