<header>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to ("<i class='fi-home'></i>").html_safe, root_path, class: "item" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
      <% if current_user %>
        <li> <%= link_to ("<i class='fi-page-edit'></i>").html_safe, edit_account_path %> </li>
        <li> <%= link_to ("<i class='fi-page-export'></i>").html_safe, logout_path %> </li>
      <% else %>
        <li> <%= link_to ("<i class='fi-torsos'></i>").html_safe, new_user_path %> </li>
        <li> <%= link_to ("<i class='fi-torso'></i>").html_safe, login_path %> </li>
      <% end %>
      </ul>

      <!-- Left Nav Section 
      <ul class="left">
        <li><a href="#">Left Nav Button</a></li>
      </ul>-->
    </section>
  </nav>
</header>