<div class="row">
	<div class="row">
		<div class="columns large-4"><%= link_to "From", "#"%></div>
		<div class="columns large-8"><%= ride.from_address %></div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "To", "#"%> </div>
		<div class="columns large-8"><%= ride.to_address %> </div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Car Description", "#"%> </div>
		<div class="columns large-8"><%= ride.car_description %> </div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Seats Specified", "#"%> </div>
		<div class="columns large-8"><%= ride.seats_available %></div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Seats taken", "#"%> </div>
		<div class="columns large-8"><%= (ride.seats_available - ride.seats_remaining) %></div>
	</div>
</div>