<div class="row">
	<div class="row">
		<div class="columns large-4"><%= link_to "Pick up from:", "#"%></div>
		<div class="columns large-8"><%= ride_transaction.from_address %></div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Drop to:", "#"%> </div>
		<div class="columns large-8"><%= ride_transaction.to_address %> </div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Distance:", "#"%> </div>
		<div class="columns large-8"><%= ride_transaction.distance %> km</div>
	</div>
	<div class="row">
		<div class="columns large-4 "><%= link_to "Cost:", "#"%> </div>
		<div class="columns large-8"><%= ride_transaction.cost %> /- </div>
	</div>
</div>